build
dist
__pycache__
*.egg-info
venv

# macOS system files
.DS_Store
training/.DS_Store
usl_models/.DS_Store
usl_models/usl_models/.DS_Store
usl_models/usl_models/flood_ml/.DS_Store

# VS Code settings
.vscode/settings.json

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment and package files
*.env
*.venv
env/
venv/
ENV/
VENV/
.env

# Ignore other unnecessary files
.vscode/
usl_models/test_metastore_client.py
usl_models/test_client.py
usl_models/usl_models/flood_ml/simplePython.py
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_0.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_1.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_2.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_3.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_4.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_5.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_6.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_7.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_8.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_9.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_0_10.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_0.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_1.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_2.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_3.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_4.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_5.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_6.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_7.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_8.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_9.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_1_10.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_0.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_1.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_2.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_3.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_4.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_5.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_6.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_7.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_8.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_9.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_2_10.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_0.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_1.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_2.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_3.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_4.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_5.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_6.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_7.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_8.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_9.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_3_10.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_0.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_1.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_2.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_3.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_4.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_5.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_6.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_7.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_8.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_9.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_4_10.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_0.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_1.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_2.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_3.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_4.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_5.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_6.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_7.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_8.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_9.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_feature/chunk_5_10.npy
usl_models/usl_models/flood_ml/Manhattan-config_v1%2FRainfall_Data_2.txt_temporal/Rainfall_Data_2.npy
