affine==2.4.0
attrs==23.2.0
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudevents==1.10.1
deprecation==2.1.0
fiona==1.9.6
Flask==3.0.2
functions-framework==3.5.0
geopandas==0.14.4
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-appengine-logging==1.4.3
google-cloud-audit-log==0.2.5
google-cloud-core==2.4.1
google-cloud-error-reporting==1.11.0
google-cloud-firestore==2.16.0
google-cloud-logging==3.10.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpc-google-iam-v1==0.13.0
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==21.2.0
h5netcdf==1.3.0
h5py==3.8.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
matplotlib==3.7.5
netCDF4==1.6.5
numpy==1.25.2
packaging==24.0
pandas==2.0.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
rasterio==1.3.9
requests==2.31.0
rsa==4.9
shapely==2.0.3
six==1.16.0
snuggs==1.4.7
tzdata==2024.1
urllib3==2.2.1
watchdog==4.0.0
Werkzeug==3.0.1
wrf-python==1.3.4.1; sys_platform != "linux"  # Install from PyPI if not Linux
./wheels/wrf_python-1.3.4.1-cp311-cp311-linux_x86_64.whl; sys_platform == "linux" # Install from pre-generated wheel if on Linux
xarray==2024.5.0
